<%- include header.ejs %>
    <div class="jumbotron" id="jumb">
        <div class="container">
            <h1 class="display-3"><%= profile.username %> profile</h1>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-block">
                <% if(!Array.isArray(polls)){ %>
                    <h2 class="text-center"><%= polls %></h2>
                <% } else { %>
                    <% for(var i = 0; i < polls.length; i++){ %>
                        <div class="profile-poll-button-group">
                            <a href=<%= "/poll/" + polls[i]._id %> class="button button-block button-action button-jumbo list-custom-button w-100">
                                <%= polls[i].title %>
                            </a>
                            <% if(user && profile.id.equals(user._id)){ %>
                                <form action="/poll/<%= polls[i]._id %>?_method=DELETE" method="POST">
                                    <button class="button button-caution button-jumbo button-square">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>

            </div>
        </div>
    </div>
<%- include footer.ejs %>